.div-card {
  background-color: black;
  color: #fff;
  margin: 20px;
  cursor: pointer;

  & h2 {
    text-align: center;
    font-weight: 400;
    padding: 10px;
  }
  & img {
    padding: 20px;
  }
}
